img{
  width: 100%;
  height: auto;
}

.catListContainer{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.catCurrentContainer{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.catCurrentContainer .adminButton{
  display: block;
  background-color: cornflowerblue;
  margin-top: 20px;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.catCurrentContainer .admin-container{
  margin-top: 20px;
}



.catAvatar img{
  width: 15%;
}