img{
  width: 100%;
  height: auto;
}

.catListContainer{
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.catCurrentContainer{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.catAvatar img{
  width: 15%;
}